@model IEnumerable<PastebookApp.PastebookService.User>

@{
    Session["page"] = "Search";
}
<div class="container" id="searchListContainer">
    <div>
        @foreach (var item in Model)
        {
            <div class="searchContainer">
                <div>
                    @{
                        var imgSrc = "";
                        if (item.PROFILE_PIC != null)
                        {
                            var base64 = Convert.ToBase64String(item.PROFILE_PIC);
                            imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                        }
                        else
                        {
                            imgSrc = "../../Content/Images/default_Male.png";
                        }
                    }
                    <span role="button" class="searchPic">
                        <img src="@imgSrc" alt="Profile Picture" class="mainProfilePic img-circle" onclick="location.href='@Url.Action("ViewProfile", "Pastebook", new { username = item.USER_NAME})'" />
                    </span>
                </div>
                <div class="searchItem">
                    <span>@Html.DisplayFor(modelItem => item.USER_NAME) </span>
                </div>
                <div class="searchItem">
                    <span>@Html.DisplayFor(modelItem => item.ABOUT_ME)</span>
                </div>
            </div>
                         }
    </div>
</div>
