body {
    padding-top: 70px;
    /*padding-bottom: 20px;*/
    font-family: Roboto;
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    background: #03A9F4 url(../../Content/Images/signup.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
    max-width: 100%;
}

textarea {
    width: 100%;
    height: 100px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 5%;
    resize: none;
}

form-control {
    width: 100%;
}

.signupContent {
    position: center;
    /*width: 40%;
    margin-left: 10%;*/
    background-color: #c1add6;
    outline: 3px solid #2E0854;
    box-shadow: 10px 10px 5px #888888;
    
    /*background-color: rgba(0, 0, 255, 0.3);*/
    border-radius:5px;
}

.loginContent{
    outline: 3px solid #2E0854;
    background-color: #c1add6;
    box-shadow: 10px 10px 5px #888888;
     border-radius:5px;
     position:center;
     opacity: 0.9;
}

.loginAndSignupHeader{
    font-size:xx-large;
    color:#000;
    opacity: 0.9;
}

#profilePicture{
     outline: 3px solid #2E0854;
}

#ImagePath{
    padding-top: 10px;
}

#textArea{
    width:100%;
}

#imageHolder{
    height:100%;
}

img{
    padding-top:10px;
    padding-bottom:10px;
    height:150px;
    width:150px;
}
