<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body id="error404Body">
    <hgroup id="404Container">
        <h1 id="404maintenance"><strong>PAGE NOT FOUND</strong></h1>
        <h2 id="404message">ERROR 404</h2>
    </hgroup>
    <h6>http://umad.com/img/2016/2/puzzle-wallpaper-background-14213-14688-hd-wallpapers.jpg</h6>
</body>
</html>
