<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body id="errorBody">
    <hgroup id="errorContainer">
        <h1 id="maintenance"><strong>PAGE</strong></h1>
        <h2 id="message">UNDER CONSTRUCTION</h2>
        <h1 id="message2">No worries. We're workin' on it</h1>
    </hgroup>
    <h6>http://www.pptgrounds.com/wp-content/uploads/2012/11/Road-Maintenance-Work-PPT-Templates-1024x768.jpg</h6>
</body>
</html>
